.App {
  position: relative;
  color: white;

  background: linear-gradient(
      to bottom,
      rgba(123, 121, 121, 0.5),
      rgba(52, 52, 53, 0.5)
    ),
    url("../public/landingBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}
